<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>852464021373-ovlg07495msicqnfqkddguk8mbvmvfei.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.852464021373-ovlg07495msicqnfqkddguk8mbvmvfei</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>852464021373-9l2qsvkc5qbtmufk0fsihu9ol9rb4mqi.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCOlTBfDdA2RSRiiQax1mmjaPSb2hPq_sI</string>
	<key>GCM_SENDER_ID</key>
	<string>852464021373</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>alephreach.Prodrivetime-ios</string>
	<key>PROJECT_ID</key>
	<string>drive-time-b3106</string>
	<key>STORAGE_BUCKET</key>
	<string>drive-time-b3106.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:852464021373:ios:b787506f976316dd8c6614</string>
	<key>DATABASE_URL</key>
	<string>https://drive-time-b3106.firebaseio.com</string>
</dict>
</plist>